.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.card-movie {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  min-height: 120px;
}

.card-movie img{
  height: 120px;
  object-fit: cover;
  object-position: cover;
}

.card-movie-infos {
  // font-size: 12px;
  font-weight: bolder;
  margin: 0;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
  align-content: center;
}
.card-movie-infos h3{
  font-size: 32px;
}
.card-movie-detail{
  font-size: 14px;
  min-height: 100px;
}

.card-movie-infos i{
  color: #FFDE00;
}
.comment{
  font-size: 14px;
  text-align: center;

}
